<div class="bar-index">
  <div class="bar-cards">
      <% @bars.each do |bar| %>
          <%= render "components/bar_card", bar: bar %>
      <% end %>
  </div>
  <div id="map" 
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
