.slick-next {
  height: 40px !important;
  right: 20px !important;
  width: 40px !important;
  z-index: 25;
}

.slick-prev {
  height: 40px !important;
  left: 20px !important;
  width: 40px !important;
  z-index: 25;
}

.slick-next::before,
.slick-prev::before {
  color: white !important;
  font-size: 40px !important;
}

.slick-slide {
  border-right: 8px solid $myWhite;
}
